# Ignore large processed files
data/processed/

# Ignore raw data
data/raw/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/

# Ignore large temporary files
*.csv
*.parquet
- *.pkl
+ # Allow model artifacts
+ !models/
+ !models/*.pkl

# OS
.DS_Store

# Environments & secrets
.env
.env.*
.venv/
venv/

# MLflow
mlruns/

